<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>vue framwork</title>
	<link rel="icon" href="https://vuejs.org/images/logo.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="row" >
		<div class="col-md-6" style="max-height: 100vh;overflow: scroll">
			<div id="app1">
				<h1>{{Herder}}</h1>
				<ul>
					<li v-for="(value, key) in title" style="list-style-type:none">
						<h3>{{ key }}</h3>
						<ul>
							<li v-for="(item, key) in value" style="list-style-type:none"> 
								<h4>{{ key }}. {{ item }}</h4> 
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
				ice
		</div>

	</div>

</body>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript">
	var vue_var = new Vue({
		el : '#app1',
		data:{
			Herder:"Project scope",
			title :{
				"markdown_complier":{
					'1':"สามารถใช้ภาษา mark down ในการแปลงตัวอักษรให้เป็นตัวหนาได้",
					'2':"สามารถใช้ภาษา mark down ในการแปลงตัวอักษรให้เป็นตัวเอียงได้",
					'3':"สามารถใช้ภาษา mark down ในการทำ header 1-6 ได้",
					'4':"สามารถใช้ภาษา mark down ในการขีดเส้นใต้ได้",
					'5':"สามารถใช้ภาษา mark down ในการทำลิงค์เชื่อมโยงได้",
					'6':"สามารถใช้ภาษา mark down ในการทำลิงค์รูปภาพได้",
					'7':"สามารถใช้ภาษา mark down ในการทำลิสต์รายการได้",
					'8':"สามารถใช้ภาษา mark down ในการแสดงแท็ก html ออกทางเว็บเพจได้"
				},
				"markdown_tutorial":{
					'1':"สามารถแสดงคำสั่งการใช้งานต่างๆของภาษา markdown ที่มีได้",
					'2':"สามารถแสดงตัวอย่างการใช้งานของภาษา markdown ได้",
					'3':"สามารถแสดงคำสั่ง option เสริม ของภาษา markdown ที่ผู้วิจัยได้พัฒนาเพิ่มได้"
				},
				"export_file_system":{
					'1':"สามารถ Export เป็นไฟล์ นามสกุล .md ได้ (ไฟล์ markdown)",
					'2':"สามารถ Export เป็นไฟล์ นามสกุล .html ได้",
					'3':"สามารถ Export เป็นไฟล์ นามสกุล .pdf ได้ "
				},
				"import_file_system":{
					'1':"สามารถ Import ไฟล์ นามสกุล .md",
					'2':"สามารถ Import ไฟล์ นามสกุล .txt"
				},
				"Optional":{
					'1':"สามารถกำหนดขนาดรูป จากคำสั่ง ลิงค์รูปของภาษา markdown ได้",
					'2':"สามารถกำหนดสีของตัวอักษรได้"
				},
				"Authentication":{
					'1':"สามารภทำการ Sing in ได้",
					"2":"สามารภทำการ Sing out ได้"
				},
				"Register":{
					'1':"สามารถ สมัครสมาชิกได้"
				},
				"Document_management_system":{
					'1':"สามารถ สร้าง Document ได้",
					'2':"สามารถ เปลิ่ยนชื่อ Document ได้",
					'3':"สามารถ save Document เพื่อเก็บไปที่ server ได้",
					'4':"สามารถ ลบ Document ได้"					
				}
			}
		}
	})

</script>
</html>