<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>vue.js</title>
	<link rel="icon" href="https://vuejs.org/images/logo.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="img/logo.png" style="width: 30px;height: 30px"/></a>
			</div>
			<ul class="nav navbar-nav">
			<li class="active"><a href="#">Vue.js </a></li>

			</ul>
		</div>
	</nav>
	<div class="row" id="app1">
		<div class="col-md-7" style="max-height: 98vh;overflow: scroll;padding-top: 5%" >
			<div >
				<h1 style="color: #41b883">{{Herder}}</h1>
				<ul>
					<li v-for="(value, key) in title" style="list-style-type:none">
						<h3>{{ key }}</h3>
						<ul>
							<li   v-for="(item, key2) in value" v-bind:class="Herder" style="list-style-type:none"> 
								<h4 style="display: inline-block" ><label v-bind:for="key + key2" style="cursor: pointer" >{{ key2 }}. {{ item }}</label></h4> <input v-bind:id="key + key2 "  v-bind:value="item"  type="checkbox"  v-model="all" v-on:click="updateChart(percen)"  />
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-5" align="center" style="padding-top: 7%">
			<img src="img/logo.png" style="width: 100px;height: 100px"/> <h3 style="display: inline;color: #41b883">power by vue.js</h3>
			<div id="example1"></div>
			<h1> {{all.length}} / {{ max_percen }}</h1>

			<h1 v-if="status" style="color: #41b883">Successful</h1>
			<h1 v-else style="color: #e2442f">Unsuccessful</h1>	
		</div>
	</div>
</body>
<script type="text/javascript" src="lib/js/vue.js"></script>
<script type="text/javascript" src="lib/js/circleDonutChart.js"></script>
<script type="text/javascript">
	var vue_var = new Vue({
		el : '#app1',
		data:{
			all:[],
			Herder:" Project Markdown Editor",
			max:100,
			max_percen :0,
			unit_percen :0,
			status:false,
			end:0,
			start:0,
			percen:0,
			color:'#a5a1a0',
			title :{
				"1) markdown_complier":{
					'1':"สามารถใช้ภาษา mark down ในการแปลงตัวอักษรให้เป็นตัวหนาได้",
					'2':"สามารถใช้ภาษา mark down ในการแปลงตัวอักษรให้เป็นตัวเอียงได้",
					'3':"สามารถใช้ภาษา mark down ในการทำ header 1-6 ได้",
					'4':"สามารถใช้ภาษา mark down ในการขีดเส้นใต้ได้",
					'5':"สามารถใช้ภาษา mark down ในการทำลิงค์เชื่อมโยงได้",
					'6':"สามารถใช้ภาษา mark down ในการทำลิงค์รูปภาพได้",
					'7':"สามารถใช้ภาษา mark down ในการทำลิสต์รายการได้",
					'8':"สามารถใช้ภาษา mark down ในการแสดงแท็ก html ออกทางเว็บเพจได้"
				},
				"2) markdown_tutorial":{
					'1':"สามารถแสดงคำสั่งการใช้งานต่างๆของภาษา markdown ที่มีได้",
					'2':"สามารถแสดงตัวอย่างการใช้งานของภาษา markdown ได้",
					'3':"สามารถแสดงคำสั่ง option เสริม ของภาษา markdown ที่ผู้วิจัยได้พัฒนาเพิ่มได้"
				},
				"3) export_file_system":{
					'1':"สามารถ Export เป็นไฟล์ นามสกุล .md ได้ (ไฟล์ markdown)",
					'2':"สามารถ Export เป็นไฟล์ นามสกุล .html ได้",
					'3':"สามารถ Export เป็นไฟล์ นามสกุล .pdf ได้ "
				},
				"4) import_file_system":{
					'1':"สามารถ Import ไฟล์ นามสกุล .md",
					'2':"สามารถ Import ไฟล์ นามสกุล .txt"
				},
				"5) Optional":{
					'1':"สามารถกำหนดขนาดรูป จากคำสั่ง ลิงค์รูปของภาษา markdown ได้",
					'2':"สามารถกำหนดสีของตัวอักษรได้"
				},
				"6) Authentication":{
					'1':"สามารภทำการ Sing in ได้",
					"2":"สามารภทำการ Sing out ได้"
				},
				"7) Register":{
					'1':"สามารถ สมัครสมาชิกได้"
				},
				"8) Document_management_system":{
					'1':"สามารถ สร้าง Document ได้",
					'2':"สามารถ เปลิ่ยนชื่อ Document ได้",
					'3':"สามารถ save Document เพื่อเก็บไปที่ server ได้",
					'4':"สามารถ ลบ Document ได้"					
				}
			}
		},
		created: function () {
			let obj = this.title;
			let count =0 ;
        	Object.keys(obj).forEach(function(key) {
				Object.keys(obj[key]).forEach(function(key) {
					count++;
				});
			});
			this.max_percen = count;
			this.unit_percen = (this.max/this.max_percen);
			this.updateChart();
   		},
		methods:{
			updateChart:function(){
			this.end = this.all.length*this.unit_percen;
			document.getElementById("example1").innerHTML = "";
				if(this.end == 100){
					this.status = true;
					this.color= '#41b883'; 
				}else{
					this.status = false;
					this.color= '#a5a1a0';
				}
      		new circleDonutChart('example1').draw({end:this.end,start:this.start/2, maxValue:this.max, titlePosition:"outer-top", titleText:"", outerCircleColor:'#9fe878', innerCircleColor:this.color});
			this.start = this.end;
			}
		} 
	})
</script>
<script>
  
</script>

</html>